* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Get Schwifty';
  src: url('./fonts/GetSchwifty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1 {
  text-align: center;
}

h2 {
  padding: 0.5rem;
  font-family: 'Get Schwifty';
}

.results-body {
  margin: 10px 0;
}

.search-btn {
  margin-right: 10px;
  background-color: chartreuse;
}

.error-btn {
  background-color: brown;
  color: aliceblue;
  padding: 2px 5px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px gray solid;
  margin-bottom: 5px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.name {
  font-weight: bold;
  text-align: center;
  padding: 1rem 1rem;
  font-family: 'Get Schwifty', sans-serif;
}

.wrapper-error {
  padding: 2rem;
  background-color: #ffe6e6;
  border: 1px solid red;
}

.wrapper-search {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.layout-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

.left-panel {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
}

.right-panel {
  flex-shrink: 0;
  flex-grow: 0;
  width: 300px;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

button,
.btn {
  display: inline-block;
  padding: 0.2rem 1.5rem;

  font-size: 0, 8rem;
  color: #080808;
  background: #00cc33;
  border: 2px solid #ffff00;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

button:hover,
.btn:hover {
  background: #00f6ff;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:active,
.btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:disabled,
.btn:disabled {
  background: #666666;
  color: #999999;
  border-color: #666666;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.list-character {
  margin-left: 1rem;
  padding-top: 1rem;
}
